NODE_ENV = dev or prod

PROTOCOL = http or https
DOMAIN = domain
PORT = number

POSTGRES_USER = user
POSTGRES_PASSWORD = password

DB_NAME = name
DB_PORT = number
DATABASE_URL = db_url (postgresql://postgres:password@localhost:5432/test?schema=public)

JWT_SECRET = secret

DO_SPACES_ENDPOINT = do_secret
DO_BUCKET_REGION_FICT = fict region
DO_BUCKET_REGION = region
DO_SPACES_KEY = _do_key
DO_SPACES_SECRET = do_spaces_secret
DO_SPACES_BUCKET = do_bucket

FORGE_API_URL = api_url
FORGE_API_TOKEN = forge_api_token

GIT_HUB_API_URL = api_url
GIT_HUB_ORG = git_hub_org
GIT_HUB_TOKEN = git_hub_token